@model WebProje.Models.Pokemon
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">@Html.DisplayFor(model => model.POKEMON_NAME)</h1>
        <hr class="my-4">
        <button id="buy-pokemon" class="mb-3 form-control btn btn-lg btn-success ">@localizer["Satın Al"]</button>
        <button id="add-to-whislist" class="form-control btn btn-lg btn-primary">@localizer["İstek Listesine Ekle"]</button>



        <div class="card text-white bg-primary my-3">
            <img class="img-fluid" style="background-color:#fff;" src="@Html.DisplayFor(model => model.POKEMON_IMG_URL)" />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div>@localizer["Uzunluk"]</div>
                        <div>@Html.DisplayFor(model => model.POKEMON_HEIGHT) M</div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div>@localizer["Ağırlık"]</div>
                        <div>@Html.DisplayFor(model => model.POKEMON_WEIGHT) KG</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div>@localizer["Kategori"]</div>
                        <div>@Html.DisplayFor(model => model.POKEMON_CATEGORY)</div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div>@localizer["Yetenekler"]</div>
                        @await Component.InvokeAsync(typeof(WebProje.ViewComponents.Pokemon.Ability), new { id = Model.POKEMON_ID })                       
                    </div>
                </div>
            </div>
        </div>
         @await Component.InvokeAsync(typeof(WebProje.ViewComponents.Pokemon.Type), new { id = Model.POKEMON_ID })
        
        @await Component.InvokeAsync(typeof(WebProje.ViewComponents.Pokemon.Stats), new { id = Model.POKEMON_ID })
        @await Component.InvokeAsync(typeof(WebProje.ViewComponents.Pokemon.Weakness), new { id = Model.POKEMON_ID })
    </div>
</div>


<script>
    $(document).ready(function () {
        showAbilityDesc();
        buyPokemon();
        addToWishlist();
    });

    function showAbilityDesc() {
        $('.ability-button').click(function () {
            let abilityName = $(this).attr('data-abilityname');
            let desc = $(this).attr('data-abilitydesc');


            swal(abilityName, desc);

        })
    }

    function buyPokemon() {

        $('#buy-pokemon').on('click', function () {

            let pokemonid = @Model.POKEMON_ID;

            $.ajax({
            url: '@Url.Action("BuyPokemon","Pokemon")',
            type: "POST",
            data: { pokemonid: pokemonid},
            success: function (data) {
                if (data == "success") {
                    swal({
                        title: "Başarılı !",
                        text: "Pokemon Başarıyla Satın Alındı !",
                        icon: "success",
                        button: "Tamam",
                    }).then(function () {
                        window.location.href = '@Url.Action("Index","Pokemon",new { id = Model.POKEMON_ID })';
                    });
                }
                else
                    swal({
                        title: "Pokemon Satın Alınamadı !",
                        text: data,
                        icon: "error",
                        button: "Tamam",
                    });
            }
            });
        })
    }

    function addToWishlist() {
        $('#add-to-whislist').on('click', function () {
            let pokemonid = @Model.POKEMON_ID;

            $.ajax({
            url: '@Url.Action("AddToWishList", "Pokemon")',
            type: "POST",
            data: { pokemonid: pokemonid},
            success: function (data) {
                if (data == "success") {
                    swal({
                        title: "Başarılı !",
                        text: "Pokemon Özelliği Başarıyla İstek Listesine Eklendi !",
                        icon: "success",
                        button: "Tamam",
                    }).then(function () {
                        window.location.href = '@Url.Action("Index","Pokemon",new { id = Model.POKEMON_ID })';
                    });
                }
                else
                    swal({
                        title: "Pokemon İstek Listesine Eklenemedi !",
                        text: data,
                        icon: "error",
                        button: "Tamam",
                    });
            }
            });
        })
    }
</script>

