@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model List<WebProje.Models.Pokemon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@localizer["Index"]</h1>

<div class="pokemons-container row d-flex">
    @foreach (var pokemon in Model)
    {
        @*<div class="col-md-3 col-sm-6">
                <div class="card pokemon-card" data-pokemonid="@pokemon.POKEMON_ID" style="width: 18rem;">
                    <img class="card-img-top" src="@pokemon.POKEMON_IMG_URL" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">@pokemon.POKEMON_NAME</h4>
                        <p class="card-text">@pokemon.POKEMON_PRICE $</p>
                    </div>
                </div>
            </div>*@
    <div class="col-md-3 col-sm-6">
        <div class="card mb-3">
            <div class="card pokemon-card" data-pokemonid="@pokemon.POKEMON_ID">
                <h3 class="card-header">@pokemon.POKEMON_NAME</h3>

                <img src="@pokemon.POKEMON_IMG_URL" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>

                <div class="card-footer text-muted">
                    @pokemon.POKEMON_PRICE @localizer["$"]
                </div>
            </div>
            </div>
        </div>
        @*<div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>*@
        }
    </div>
<script>
    $(document).ready(function () {

        goToPokemonPage();
    })

    function goToPokemonPage() {
        $('.pokemon-card').click(function () {
            let pokemonid = $(this).attr('data-pokemonid');

            window.location.href = '@Url.Action("Index","Pokemon")?id=' + pokemonid;


        });
    }


</script>