@model WebProgramlamaOdev.Models.Pokemon 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">@Model.POKEMON_NAME</h1>
        <hr class="my-4">
        <button class="form-control btn btn-lg btn-primary">Satın Al</button>
       
        <div class="card text-white bg-primary my-3">
            <img class="img-fluid" style="background-color:#fff;" src="@Model.POKEMON_IMG_URL" />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div>Uzunluk</div>
                        <div>@Model.POKEMON_HEIGHT M</div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div>Ağırlık</div>
                        <div>@Model.POKEMON_WEIGHT KG</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div>Kategori</div>
                        <div>@Model.POKEMON_CATEGORY</div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div>Yetenekler</div>
                        @await Component.InvokeAsync(typeof(WebProgramlamaOdev.ViewComponents.Pokemon.Ability), new { id = Model.POKEMON_ID })
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync(typeof(WebProgramlamaOdev.ViewComponents.Pokemon.Type), new { id = Model.POKEMON_ID })
        @await Component.InvokeAsync(typeof(WebProgramlamaOdev.ViewComponents.Pokemon.Stats), new { id = Model.POKEMON_ID })
        @await Component.InvokeAsync(typeof(WebProgramlamaOdev.ViewComponents.Pokemon.Weakness), new { id = Model.POKEMON_ID })
    </div>
</div>


<script>
    $(document).ready(function () {
        showAbilityDesc();
    });

    function showAbilityDesc() {
        $('.ability-button').click(function () {
            let abilityName = $(this).attr('data-abilityname');
            let desc = $(this).attr('data-abilitydesc');


            swal(abilityName,desc);

        })
    }
</script>

