@model List<WebProje.Models.Type>

<div>
    @foreach (var type in Model)
    {
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start">
                    <div class="d-flex flex-row justify-content-between">
                        <div>ID:</div>
                        <div>@type.TYPE_ID</div>
                    </div>
                    <div class="d-flex flex-row justify-content-between ml-2">
                        <div>Pokemon Tipi Adı:</div>
                        <div>@type.TYPE_NAME</div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="d-flex flex-row justify-content-between">
                    <button class="btn btn-lg btn-danger type-delete-button" data-typeid="@type.TYPE_ID">Sil</button>
                    <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#editTypeModal-@type.TYPE_ID">
                        Düzenle
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editTypeModal-@type.TYPE_ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Pokemon Tipini Düzenle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control type-name-input" value="@type.TYPE_NAME" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary type-edit-submit" data-typeid="@type.TYPE_ID">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>